.cardSelectorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0 20px 0;
    font-size: 15px
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    padding-top: 20px;
}

.card {
    border-style: groove;
    border-color: rgb(42, 116, 165);
    border-radius: 12px;
    width: 40px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 100 !important;
}


.input {
    width: 35px;
    height: 60px;
    border: none;
    color: rgb(42, 116, 165);
    background-color: #edf3f5;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: rgb(203, 227, 251); /* Kolor ramki przy fokusie */
}
