.title {
  display: flex;
  align-items: center;
  color: rgb(42, 116, 165);
  font-size: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 15px 50px 0 50px;
  text-align: center;
}
